In [9]:
from datetime import datetime, timedelta
import seaborn as sns
from influxdb_client_3 import InfluxDBClient3, Point, WritePrecision

token = "VHvj7OSCceMdybeuh9V3rYbjnCrC4ZYa1wql-8HTz8Kb50LNueyDXTMcKaKez6vaGP3wu_GSqaiPhworLoa2qQ=="
org = "UPA"
host = "https://us-east-1-1.aws.cloud2.influxdata.com"

client = InfluxDBClient3(host=host, token=token, org=org)
database = "UPA"

In [10]:

query = """
SELECT *
FROM "your_measurement_name"
WHERE
time >= now() - interval '30 day' AND time <= now()
"""


# Execute the query
table = client.query(query=query, database="UPA", language='sql')

# Convert to dataframe
df = table.to_pandas().sort_values(by="time")
print(df)

       code                     name  no2_1h  pm10_1h  pm10_24h  pm2_5_1h  \
1047  BBNVA     Brno-Úvoz (hot spot)    22.4     13.9      18.8       8.0
962   BBMAA           Brno-Arboretum    20.1     15.5      18.6       9.6
1081  BBOMA             Brno-Komárov    33.1     21.9      24.8      14.7
996   BBMSA        Brno-Svatoplukova    37.7     23.5      25.7      15.8
1064  BBNYA              Brno-Tuřany    26.0     21.2      13.9       6.7
...     ...                      ...     ...      ...       ...       ...
1187  BBNIA               Brno-Líšeň     NaN      5.5      20.1       1.0
1217  BBNYA              Brno-Tuřany     1.0     14.1      19.2       3.4
1157  BBMSA        Brno-Svatoplukova    50.7     18.9      28.1       5.2
1112  BBDNA  Brno - Dětská nemocnice     8.4     10.4      23.0       7.0
1127  BBMAA           Brno-Arboretum     6.3     11.4      20.2       4.7

                    time
1047 2023-09-27 06:32:27
962  2023-09-27 06:32:27
1081 2023-09-27 06:32:27
996  2023-09-27 06:32:27
1064 2023-09-27 06:32:27
...                  ...
1187 2023-10-04 17:33:30
1217 2023-10-04 17:33:30
1157 2023-10-04 17:33:30
1112 2023-10-04 17:33:30
1127 2023-10-04 17:33:30

[1431 rows x 7 columns]

In [ ]:
# query = """SELECT SUM() AS "sum_no2_1h"
# FROM "your_measurement_name"
# WHERE
# time >= now() - interval '30 days'
# AND
# ("no2_1h" IS NOT NULL)
# """

query = """
SELECT MEAN(no2_1h) as no2_mean
FROM data_ovzdusi2
WHERE time > now() - 30d
GROUP BY time(1d), code
"""

# query = """
# SELECT FIRST(time), SECOND(code), time
# FROM your_measurement_name
# WHERE time > now() - 30d
# GROUP BY time(1d)
# """

# query = """
# SELECT MEAN(no2_1h) FROM your_measurement_name 
# WHERE time > now() - 30d and code = 'BBDNA'
# GROUP BY time(1d)
# """

# SELECT MEAN("water_level") FROM "h2o_feet" GROUP BY "location"

# query = f'from(bucket:"{database}") |> range(start: -10m)'

# Execute the query
table = client.query(query=query, database=database, language='influxql') 

# Convert to dataframe
df = table.to_pandas().sort_values(by="time")
print(df)

    iox::measurement       time   code  no2_mean
0      data_ovzdusi2 2023-09-27  BBDNA       NaN
248    data_ovzdusi2 2023-09-27  BBOMA       NaN
31     data_ovzdusi2 2023-09-27  BBMAA       NaN
155    data_ovzdusi2 2023-09-27  BBNIA       NaN
124    data_ovzdusi2 2023-09-27  BBMVA       NaN
..               ...        ...    ...       ...
123    data_ovzdusi2 2023-10-27  BBMSA       NaN
247    data_ovzdusi2 2023-10-27  BBNYA       NaN
30     data_ovzdusi2 2023-10-27  BBDNA       NaN
185    data_ovzdusi2 2023-10-27  BBNIA       NaN
278    data_ovzdusi2 2023-10-27  BBOMA       NaN

[279 rows x 4 columns]

In [65]:
# query = """SELECT SUM() AS "sum_no2_1h"
# FROM "your_measurement_name"
# WHERE
# time >= now() - interval '30 days'
# AND
# ("no2_1h" IS NOT NULL)
# """

query = """
SELECT MEAN(no2_1h) as no2_mean
FROM data_ovzdusi2
WHERE time > now() - 30d
GROUP BY time(1d), code
"""

# query = """
# SELECT FIRST(time), SECOND(code), time
# FROM your_measurement_name
# WHERE time > now() - 30d
# GROUP BY time(1d)
# """

# query = """
# SELECT MEAN(no2_1h) FROM your_measurement_name 
# WHERE time > now() - 30d and code = 'BBDNA'
# GROUP BY time(1d)
# """

# SELECT MEAN("water_level") FROM "h2o_feet" GROUP BY "location"

# query = f'from(bucket:"{database}") |> range(start: -10m)'

# Execute the query
table = client.query(query=query, database=database, language='influxql') 

# Convert to dataframe
df = table.to_pandas().sort_values(by="time")
print(df)

    iox::measurement       time   code  no2_mean
0      data_ovzdusi2 2023-09-27  BBDNA       NaN
248    data_ovzdusi2 2023-09-27  BBOMA       NaN
31     data_ovzdusi2 2023-09-27  BBMAA       NaN
155    data_ovzdusi2 2023-09-27  BBNIA       NaN
124    data_ovzdusi2 2023-09-27  BBMVA       NaN
..               ...        ...    ...       ...
123    data_ovzdusi2 2023-10-27  BBMSA       NaN
247    data_ovzdusi2 2023-10-27  BBNYA       NaN
30     data_ovzdusi2 2023-10-27  BBDNA       NaN
185    data_ovzdusi2 2023-10-27  BBNIA       NaN
278    data_ovzdusi2 2023-10-27  BBOMA       NaN

[279 rows x 4 columns]

In [94]:


query = """
SELECT MEAN(no2_1h) as no2_mean
FROM data_ovzdusi2
WHERE time > now() - 14d and time < now() - 7d
GROUP BY code, time(1d)
"""

# Execute the query
table = client.query(query=query, database=database, language='influxql') 

# Convert to dataframe
df = table.to_pandas().sort_values(by="time")
print(df)

   iox::measurement       time   code   no2_mean
0     data_ovzdusi2 2023-10-13  BBDNA   7.620000
40    data_ovzdusi2 2023-10-13  BBNIA        NaN
24    data_ovzdusi2 2023-10-13  BBMSA  29.440000
48    data_ovzdusi2 2023-10-13  BBNVA  52.740000
16    data_ovzdusi2 2023-10-13  BBMLA  14.420000
..              ...        ...    ...        ...
63    data_ovzdusi2 2023-10-20  BBNYA  22.283333
23    data_ovzdusi2 2023-10-20  BBMLA  41.014286
39    data_ovzdusi2 2023-10-20  BBMVA        NaN
55    data_ovzdusi2 2023-10-20  BBNVA  30.733333
71    data_ovzdusi2 2023-10-20  BBOMA  31.128571

[72 rows x 4 columns]

In [ ]:
query = """SELECT *
FROM "your_measurement_name"
WHERE
time >= now() - interval '30 days'
AND
("no2_1h" IS NOT NULL)
AND
"code" IN ('BBDNA')"""

# Execute the query
table = client.query(query=query, database=database, language='sql') 

# Convert to dataframe
df = table.to_pandas().sort_values(by="time")
print(df)

     code                     name  no2_1h  pm10_1h  pm10_24h  pm2_5_1h  \
90  BBDNA  Brno - Dětská nemocnice     4.8     11.1       5.9       2.2
91  BBDNA  Brno - Dětská nemocnice     3.8      5.6       5.5       3.0
92  BBDNA  Brno - Dětská nemocnice     3.8      6.1       5.4       2.2
34  BBDNA  Brno - Dětská nemocnice     3.1      6.9       5.7       5.7
35  BBDNA  Brno - Dětská nemocnice    37.3      8.8       6.3       6.2
..    ...                      ...     ...      ...       ...       ...
85  BBDNA  Brno - Dětská nemocnice     6.1      8.7      23.4      15.5
86  BBDNA  Brno - Dětská nemocnice     6.9     15.4      23.2       8.1
87  BBDNA  Brno - Dětská nemocnice     7.8     21.0      23.2       4.3
88  BBDNA  Brno - Dětská nemocnice     8.8     17.5      23.2       8.0
89  BBDNA  Brno - Dětská nemocnice     8.4     10.4      23.0       7.0

                  time
90 2023-09-16 14:30:47
91 2023-09-16 20:30:48
92 2023-09-16 21:30:48
34 2023-09-17 01:30:49
35 2023-09-17 05:30:50
..                 ...
85 2023-10-04 13:33:30
86 2023-10-04 14:33:30
87 2023-10-04 15:33:30
88 2023-10-04 16:33:30
89 2023-10-04 17:33:30

[212 rows x 7 columns]

In [ ]:
query = """SELECT code, name, no2_1h, time
FROM "your_measurement_name"
WHERE
time >= now() - interval '30 days'
AND
("no2_1h" IS NOT NULL)
AND
"code" IN ('BBDNA')
GROUP BY time(1d)
LIMIT 20"""


# Execute the query
table = client.query(query=query, database=database, language='sql') 


# Convert to dataframe
df = table.to_pandas().sort_values(by="time")

print(df)






sns.lineplot(data=df, x="time",  y="no2_1h")

ArrowInvalid: Flight returned invalid argument error, with message: Error while planning query: SQL error: ParserError("Expected ), found: d"). gRPC client debug context: UNKNOWN:Error received from peer ipv4:34.196.233.7:443 {created_time:"2023-10-26T19:35:53.169367+02:00", grpc_status:3, grpc_message:"Error while planning query: SQL error: ParserError(\"Expected ), found: d\")"}. Client context: IOError: Server never sent a data message. Detail: Internal







astat asrtione arstenaritn