In [15]:
from datetime import datetime, timedelta
import seaborn as sns
from influxdb_client_3 import InfluxDBClient3, Point, WritePrecision

token = "VHvj7OSCceMdybeuh9V3rYbjnCrC4ZYa1wql-8HTz8Kb50LNueyDXTMcKaKez6vaGP3wu_GSqaiPhworLoa2qQ=="
org = "UPA"
host = "https://us-east-1-1.aws.cloud2.influxdata.com"

client = InfluxDBClient3(host=host, token=token, org=org)
database = "UPA"

In [16]:
# Zobrazeni dat z poslednich 30 dni
query = """
SELECT *
FROM "data_ovzdusi2"
WHERE
time >= now() - interval '30 day' AND time <= now()
"""

# Execute the query
table = client.query(query=query, database="UPA", language='sql')

# Convert to dataframe
df = table.to_pandas().sort_values(by="time")
print(df)

       code                     name  no2_1h  pm10_1h  pm10_24h  pm2_5_1h  \
369   BBDNA  Brno - Dětská nemocnice    18.2     13.9      11.3       3.4
447   BBNVA     Brno-Úvoz (hot spot)    48.0     15.1      10.6       6.2
460   BBNYA              Brno-Tuřany    11.7     13.3       9.9       7.3
408   BBMSA        Brno-Svatoplukova    44.2      NaN       0.0       0.0
473   BBOMA             Brno-Komárov    26.4      NaN       0.0       0.0
...     ...                      ...     ...      ...       ...       ...
3956  BBMSA        Brno-Svatoplukova    50.7     18.9      28.1       5.2
4031  BBOMA             Brno-Komárov    15.1     13.9      28.4       4.6
3986  BBNIA               Brno-Líšeň     NaN      5.5      20.1       1.0
3971  BBMVA          Brno-Výstaviště     NaN      NaN       0.0       0.0
3926  BBMAA           Brno-Arboretum     6.3     11.4      20.2       4.7

                    time
369  2023-10-02 10:28:56
447  2023-10-02 10:28:56
460  2023-10-02 10:28:56
408  2023-10-02 10:28:56
473  2023-10-02 10:28:56
...                  ...
3956 2023-10-24 17:33:30
4031 2023-10-24 17:33:30
3986 2023-10-24 17:33:30
3971 2023-10-24 17:33:30
3926 2023-10-24 17:33:30

[4221 rows x 7 columns]

In [5]:
# Zobrazit prumernou hodnotu NO2 za predchozich 7 dni
query = """
SELECT MEAN(no2_1h) as no2_mean
FROM data_ovzdusi2
WHERE time > now() - 14d and time < now() - 7d
GROUP BY code, time(1d)
"""

# Execute the query
table = client.query(query=query, database=database, language='influxql') 

# Convert to dataframe
df = table.to_pandas().sort_values(by="time")
print(df)

   iox::measurement       time   code   no2_mean
0     data_ovzdusi2 2023-10-14  BBDNA  13.742857
40    data_ovzdusi2 2023-10-14  BBNIA        NaN
24    data_ovzdusi2 2023-10-14  BBMSA  43.737500
48    data_ovzdusi2 2023-10-14  BBNVA  60.162500
16    data_ovzdusi2 2023-10-14  BBMLA  21.700000
..              ...        ...    ...        ...
63    data_ovzdusi2 2023-10-21  BBNYA   9.075000
23    data_ovzdusi2 2023-10-21  BBMLA  20.120000
39    data_ovzdusi2 2023-10-21  BBMVA        NaN
55    data_ovzdusi2 2023-10-21  BBNVA  10.100000
71    data_ovzdusi2 2023-10-21  BBOMA  18.100000

[72 rows x 4 columns]

In [8]:
# Zobrazeni dat pro Detskou nemocnici v Brne
query = """SELECT *
FROM "data_ovzdusi2"
WHERE
time >= now() - interval '30 days'
AND
("no2_1h" IS NOT NULL)
AND
"code" IN ('BBDNA')"""

# Execute the query
table = client.query(query=query, database=database, language='sql') 

# Convert to dataframe
df = table.to_pandas().sort_values(by="time")
print(df)

      code                     name  no2_1h  pm10_1h  pm10_24h  pm2_5_1h  \
148  BBDNA  Brno - Dětská nemocnice    18.2     13.9      11.3       3.4
149  BBDNA  Brno - Dětská nemocnice     9.4      9.8      11.5       6.8
150  BBDNA  Brno - Dětská nemocnice    12.8      6.7      11.2       9.9
151  BBDNA  Brno - Dětská nemocnice    15.7      8.8      11.3       8.7
152  BBDNA  Brno - Dětská nemocnice    16.1     10.5      11.7       5.4
..     ...                      ...     ...      ...       ...       ...
44   BBDNA  Brno - Dětská nemocnice     6.1      8.7      23.4      15.5
45   BBDNA  Brno - Dětská nemocnice     6.9     15.4      23.2       8.1
46   BBDNA  Brno - Dětská nemocnice     7.8     21.0      23.2       4.3
47   BBDNA  Brno - Dětská nemocnice     8.8     17.5      23.2       8.0
48   BBDNA  Brno - Dětská nemocnice     8.4     10.4      23.0       7.0

                   time
148 2023-10-02 10:28:56
149 2023-10-02 13:28:56
150 2023-10-02 14:28:57
151 2023-10-02 15:28:57
152 2023-10-02 19:28:58
..                  ...
44  2023-10-24 13:33:30
45  2023-10-24 14:33:30
46  2023-10-24 15:33:30
47  2023-10-24 16:33:30
48  2023-10-24 17:33:30

[247 rows x 7 columns]







astat asrtione arstenaritn